#Heading
{
    font-family: 'Abril Fatface', cursive;
    font-size: xx-large;
    font-style: italic;
    font-weight: 1000;
    color: red;
}

#title1
{
    font-family: 'Gloria Hallelujah', cursive;
}

#title2
{
    font-family: 'Creepster', cursive;
}

#Subheading
{
    font-family: 'Tektur', cursive;
    font-size: xx-large;
}

#sprinkle_cake
{
    font-family: 'Borel', cursive;
}

#description
{
    font-family: 'Lumanosimo', cursive;
}

html
{
    background-color: black;
}

#warning2
{
    font-family: 'Bungee Spice', cursive;
    font-size: xx-large;
}

#warning1
{
    font-family: 'Lugrasimo', cursive;
}

.files
{
    border-color: bisque;
}

#stalker_sam
{
    font-family: 'Rock Salt', cursive;
}